@font-face {
	font-family: Cinzel;
	font-weight: normal;
	src:
		url("//fonts.resources.www.djsp.eu/cinzel/regular/woff2") format("woff2"),
		url("//fonts.resources.www.djsp.eu/cinzel/regular/woff") format("woff"),
		url("//fonts.resources.www.djsp.eu/cinzel/regular/otf") format("opentype");
}
